{% extends '../base.html' %}
{% block content %}
<form action="" Method="POST">
    {% csrf_token %}
<table>
    {{ form.as_table }}
</table>
<input type="submit" value="Submit!" class="btn">
</form>
<br><br>
<div class="divider"></div>
{% if actor_list %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        {% for actor in actor_list %}
        <tr>
            <td>{{actor.name}}</td>
            <td>{{actor.dob}}</td>
            <td>{{actor.nationality}}</td>
            <td><a href="{% url 'delete_actor' actor.id %}" class="btn">Delete</a></td>
            <td></td>            
        </tr>
         {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}