{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Movie</h1>
{% endif %}


<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn">
</form>

<!-- We never learn jQuery but a stack overflock article I found said i needed this code to get Materialize to initialize the dropdown menu-->
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
@
{% endblock %}