{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantasy3Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header class="navbar">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}">Fantasy3Movies</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index' %}">Dream Movies</a></li>
                        <li><a href="{% url 'add_movie' %}">Add a Movie</a></li>
                        <li><a href="{% url 'actors' %}">Actors</a></li>
                        <li><a href="{% url 'production' %}">Production Members</a></li>
                        <li>
                            <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class='btn-flat white-text'>Log Out</button>
                            </form>
                        </li>
                    {% else %}    
                       
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}    
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer">
       <div class="right">Fantasy3Movies &copy;&nbsp; 2024 </div>
    </footer>
</body>
</html>