{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <div class="row">
      <div class="col">
         <h2>About Us</h2>
         <hr />
      </div>
  </div>
  <div class="row row-content">
      <div class="col-sm-6">
          <p>We present a curated database of the best campsites in the vast woods and backcountry of the World Wide Web Wilderness. We increase access to adventure for the public while promoting safe and respectful use of resources. The expert wilderness trekkers on our staff personally verify each campsite to make sure that they are up to our standards. We also present a platform for campers to share reviews on campsites they have visited with each other.</p>
      </div>
  </div>

{% endblock %}
