body {
  font-family: "Open Sans", sans-serif;
  color: #5c636e
}

h1 {
  font-family: "Lobster", cursive;
  color: #393e46;
}

h2, h3{
  color: #f8b500;
}

header h2 {
  color:#f8b500;
}

footer {
  background-image: linear-gradient( #d3d6db, white);
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  background-image: linear-gradient(to top,#d3d6db,white );
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}


.navbar {
  background-color: #f8b500;

}

/* navbar text */
.navbar-dark  .navbar-nav .nav-link {
  color: #393e46;
  font-size: 16px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: 10px 0;
}