{% extends 'base.html' %}
{% block content %}

<h1>Fantasy Movies List</h1>


<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Release Year</th>
        </tr>
    </thead>

    <tbody>
        {% for movie in movies %}
        <tr class="index_pick" onclick="window.location='{% url 'detail' movie.id %}';" style="cursor:pointer;">
            <td>{{ movie.name }}</td>
            <td>{{ movie.get_genre_display }}</td>
            <td>{{ movie.release_year }}</td>
            <td><a href="{% url 'delete_movie' movie.id %}" class="btn btn-secondary">Delete</a></td>
            <td><a href="{% url 'update' movie.id %}" class="btn btn-secondary">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}